# Dependency folders (프론트, 백엔드 둘 다 무시)
node_modules/
client/node_modules/
server/node_modules/

# OS metadata
.DS_Store

# Build folders
client/build/
server/build/
server/out/

# Environment variables
.env
*.local

# IDE settings
.idea/
.vscode/
*.swp

# Gradle temporary files
server/.gradle/
server/build/
server/bin/

# IntelliJ settings
server/.idea/
server/*.iml

# 서버 설정 파일
server/src/main/resources/application.properties

# 클라이언트 설정 파일
.env